@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:focus { outline: none!important; }
[disabled] { opacity: 0.5; pointer-events: none; }
html, body { scroll-behavior: smooth; overflow-x: hidden; }
a, a:hover { text-decoration: none; }
p { margin-bottom: 0; line-height: 1.8em; }
label { margin-bottom: 0; }
.form-group label { margin-bottom: 0.5em; }
a, label, button { cursor: pointer; user-select: none; }

.d-between { display: flex; justify-content: space-between; align-items: center; }
.d-center { display: flex; justify-content: center; align-items: center; }
.align-center { display: flex; align-items: center; }
.position-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.text-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.auto-line { white-space: pre-line; line-height: 1.8em; word-break: keep-all; }
@media(max-width: 592px) { .auto-line { white-space: normal } }

.summary {
    height: calc(1.8em * 2);
    line-height: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: 0.35s;
}

.fit-cover { object-fit: cover; width: 100%; height: 100%; }
.fit-contain { object-fit: contain; width: 100%; height: 100%; }

.hx-100 { height: 100px; }
.hx-150 { height: 150px; }
.hx-200 { height: 200px; }
.hx-250 { height: 250px; }
.hx-300 { height: 300px; }
.hx-400 { height: 400px; }

.fx-n3 { font-size: 0.85em; }
.fx-n2 { font-size: 0.9em; }
.fx-n1 { font-size: 0.95em; }

.fx-1 { font-size: 1em; }
.fx-2 { font-size: 1.1em; }
.fx-3 { font-size: 1.2em; }
.fx-4 { font-size: 1.4em; }
.fx-5 { font-size: 1.6em; }
.fx-6 { font-size: 1.8em; }
.fx-7 { font-size: 2em; }
.fx-8 { font-size: 2.4em; }
.fx-9 { font-size: 4em; }

.text-gray { color: #fffc!important; }
.text-red { color: #e02451!important; }
.text-yellow { color: #cf8b1e!important; }

.bg-gray { background-color: #f7f7f7!important; }
.bg-red { background-color: #e02451!important; }
.bg-yellow { background-color: #cf8b1e!important; }

.border-gray { border-color: #f7f7f7!important; }
.border-red { border-color: #e02451!important; }
.border-yellow { border-color: #cf8b1e!important; }


button {
    border: none;
    background-color: transparent;
}
[class^="btn"] {
    font-size: 0.9em;
    padding: 0.5em 1em;
    border: none;
    background-color: transparent;
    transition: 0.35s;
}

.btn-filled {
    background-color: #e02451;
    color: #fff;
}
.btn-filled:hover { 
    background-color: #cf8b1e;
    color: #fff;
}

.btn-bordered {
    border: 1px solid #e02451;
    color: #e02451;
}

.btn-bordered:hover { border-color: #cf8b1e; color: #cf8b1e; }


.btn-custom { position: relative; border: 1px solid #e02451; color: #e02451; transition: 0.5s; }
.btn-custom::before, .btn-custom::after {
    content: '';
    position: absolute;
    height: 5px;
    background-color: #e02451;
    opacity: 0;
    width: 0;
    transition: 0.35s;
}
.btn-custom::before { left: 0; top: 0; }
.btn-custom::after { right: 0; bottom: 0; }
.btn-custom:hover { background-color: #e02451; color: #fff; }
.btn-custom:hover::before, .btn-custom:hover::after { width: 100%; opacity: 1; }


hr { width: 30px; height: 1px; border:none; border-top: 1px solid #555; }
.icon { width: 2em; height: 2em; line-height: 2em; text-align: center; }
.title { font-size: 0.9em; font-weight: 100; }
.text-title { font-size: 2.2em; font-weight: 100; line-height: 1.8em; white-space: pre-line; }
.text-title strong { font-weight: 600; }
.center-title { text-align: center;  }
.center-title small { font-weight: 100; color: #555; }
.center-title h1 { font-weight: 100; font-size: 2.2em; font-family: "Segoe UI", sans-serif; } 
.center-title h1 strong { font-weight: 600; }


.t-head, .t-row { display: flex; align-items: center; text-align: center; }
.t-head { border-top: 1px solid #ddd; border-bottom: 3px double #ddd; font-size: #555; font-size: 0.9em; height: 50px; line-height: 50px; }
.t-row { padding: 1em 0; border-bottom: 1px solid #ddd; }

.cell-10 { flex: 0 0 10%; max-width: 10%; }
.cell-20 { flex: 0 0 20%; max-width: 20%; }
.cell-30 { flex: 0 0 30%; max-width: 30%; }
.cell-40 { flex: 0 0 40%; max-width: 40%; }
.cell-50 { flex: 0 0 50%; max-width: 50%; }
.cell-60 { flex: 0 0 60%; max-width: 60%; }
.cell-70 { flex: 0 0 70%; max-width: 70%; }
.cell-80 { flex: 0 0 80%; max-width: 80%; }
.cell-90 { flex: 0 0 90%; max-width: 90%; }



.background,
.background::after,
.background > img {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}

.background { z-index: -1; }
.background::after { content: ''; }
.background > img { object-fit: cover; }

.background--red::after { background-color: #522125ec; }
.background--black::after { background-color: #000a; }

/* 헤더 */

header {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    z-index: 1030;
}

.header__top {
    height: 40px;
    background-color: #000c;
}
.search {
    height: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    background-color: #fff5;
    border-radius: 1em;
}
.search .icon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fffa;
    font-size: 0.8em;
    margin-right: 0.5em;
}
.search input {
    width: 150px;
    height: 25px;
    border: none;
    background-color: transparent;
    font-size: 0.8em;
}
.search input, .search input::placeholder { color: #fffa; }

.other a {
    font-size: 0.8em;
    color: #fffa;
    margin-left: 1em;
}
.other select {
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    color: #fffa;
}

.header__bottom {
    height: 60px;
    background-color: #000a;
}

.nav {
    display: flex;
    height: 100%;
}
.nav__item {
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0 1em;
}
.nav__item > a {
    font-size: 0.95em;
    color: #fffc;
    transition: 0.2s;
}
.nav__item:hover > a { color: #e02451; }

.nav__list {
    position: absolute;
    left: 50%; top: 100%;
    transform: translateX(-50%);
    padding-top: 1em;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.35s;
}
.nav__item:hover > .nav__list { height: calc(40px * 5 + 2em); }

.nav__list > a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #000a;
    font-size: 0.9em;
    color: #fffa;
    transition: 0.2s;
}
.nav__list > a:first-child { border-top: 5px solid #e02451; }
.nav__list > a:hover { color: #e02451; }

.icon-bars {
    position: relative;
    width: 25px;
    height: 25px;
}
.icon-bars > span {
    display: block;
    margin-left: auto;
    height: 2px;
    background-color: #fffc;
    margin-top: calc(25px / 3);
}

.icon-bars > span:nth-child(1) { width: 25px; margin-top: 0; }
.icon-bars > span:nth-child(2) { width: 15px; }
.icon-bars > span:nth-child(3) { width: 23px; }

/* /헤더 */

/* 사이드 바 */
aside {
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #fff;
    padding-top: 80px;
    box-shadow: 3px 0 5px #000a;
    padding-left: 0.5em;
    transition: 0.35s;
    margin-right: -400px;
}
#open-aside:checked ~ aside { margin-right: 0; }

.search--aside {
    border-bottom: 1px solid #555;
    border-radius: 0;
}
.search--aside .icon { color: #e02451; }
.search--aside input, .search--aside input::placeholder { color: #555; }

.other--aside { margin-top: 1em; }
.other--aside a, .other--aside select { color: #555; }

.nav--aside { margin-top: 1em; flex-direction: column; }
.nav--aside .nav__item > a { color: #333; }
.nav--aside .nav__list { padding-top: 0; padding-left: 2em; }
.nav--aside .nav__list > a { background-color: transparent; border: none; color: #555; text-align: left; }


/* /사이드 바 */


/* 비주얼 */
.visual {
    height: 700px;
    position: relative;
    overflow: hidden;
}

.visual__images > img {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    animation: image 10.5s infinite;
    filter: brightness(50%);
}
.visual__images > img:nth-child(1) { animation-delay: -3.5s; }
.visual__images > img:nth-child(3) { animation-delay: -7s; }

@keyframes image {
    0%      { opacity: 0; }
    23.809% { opacity: 0; }

    33.333% { opacity: 1; }
    57.142% { opacity: 1; }

    66.666% { opacity: 0; }
    100%    { opacity: 0; }
}

.visual__texts {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    overflow: hidden;
}
.visual__texts .text-title {
    color: #ffff;
    position: absolute;
    left: 20px; top: 0;
    width: calc(100% - 40px);
    animation: text 10.5s infinite;
}
.visual__texts .text-title:nth-child(1) { animation-delay: -3.5s; }
.visual__texts .text-title:nth-child(3) { animation-delay: -7s; }

@keyframes text {
    0%      { opacity: 0; transform: translateX(-300px); }
    23.809% { opacity: 0; transform: translateX(-300px); }

    33.333% { opacity: 1; transform: translateX(0px); }
    57.142% { opacity: 1; transform: translateX(0px); }

    66.666% { opacity: 0; transform: translateX(300px); }
    100%    { opacity: 0; transform: translateX(300px); }
}

#read-more {
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: 2em;
    color: #fff;
    width: 2em;
    height: 2em;
}

#read-more > i {
    position: absolute;
    left: 50%; top: 50%;
    transform: rotate(-90deg) translate(-50%, -50%);
    color: #e02451;
    animation: readmore 0.9s infinite linear;
}

#read-more i:nth-child(1) { animation-delay: calc(-0.3s) }
#read-more i:nth-child(3) { animation-delay: calc(-0.6s) }

@keyframes readmore {
    0% { margin-top: -1em; opacity: 0; }
    100% { margin-top: 0em; opacity: 1; }
}

@media(max-width: 992px){
    .visual__texts {
        height: 200px;
    }
    .text-title {
        font-size: 1.8em;
        word-break: keep-all;
        white-space: normal;
    }
}

/* /비주얼 */


.line { position: relative; display: flex; overflow: hidden; }

.image-box { 
    width: 50%; 
    height: 350px;
    position: relative;
    transition: 0.5s;
    transform: translateX(calc(100% - 100px));
    z-index: -1;
}
.line:nth-child(2n) .image-box { 
    order: 1; 
    transform: translateX(calc(-100% + 100px))
}
.image-box::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: #e02451;
    opacity: 0.8;
    transition: 0.35s;
}
.line:hover .image-box { transform: translateX(0); }
.line:hover .image-box::after { opacity: 0; }


.text-box { 
    width: 50%; 
    height: 350px;
    padding: 2em; 
    background-color: #fff;
}
.line:nth-child(2n) .text-box {  text-align: right; }


@media(max-width: 992px){
    .image-box {
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        z-index: 1;
        transform: translateX(calc(100% - 50px));
    }
    .text-box { width: 90%; }
    .line:nth-child(2n) .text-box { margin-left: auto; }
    .line:nth-child(2n) .image-box { transform: translateX(calc(-100% + 50px)) }
    .line:hover .image-box { transform: translate(0); }
}

.selectable { opacity: 0.5; transition: 0.35s; }
.selectable:hover { transform: translate(-0.5em, -0.5em); opacity: 1; }


.link {
    display: flex; align-items: center;
    color: #fff;
}
.link .icon {
    flex: 0 0 2em;
    background-image: linear-gradient(90deg,  #e02451 0%, #e02451 50%,  #fff 50%, #fff 100%);
    background-size: 200%;
    background-position-x: 100%;
    transition: background-position-x 0.2s linear;
    transition-delay: 0.2s;
}

.link .text {
    width: 100%;
    background-image: linear-gradient(90deg,  #e02451 0%, #e02451 50%,  #fff 50%, #fff 100%);
    background-size: 200%;
    background-position-x: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: background-position-x 0.2s linear;
}
.link:hover .icon,
.link:hover .text {
    background-position-x: 0%;
}
.link:hover .icon { transition-delay: 0s; }
.link:hover .text { transition-delay: 0.2s; }


.tab__body { height: 430px; width: 100%; overflow: hidden; position: relative; }
.tab__body .t-row { transition: 0.3s; }

.tab__body > div { position: absolute; width: 100%; }
.tab__body .t-row:nth-child(1) { transition-delay: calc(0.1s * 1) }
.tab__body .t-row:nth-child(2) { transition-delay: calc(0.1s * 2) }
.tab__body .t-row:nth-child(3) { transition-delay: calc(0.1s * 3) }
.tab__body .t-row:nth-child(4) { transition-delay: calc(0.1s * 4) }
.tab__body .t-row:nth-child(5) { transition-delay: calc(0.1s * 5) }
.tab__body .notice .t-row { transform: translateX(-100px); opacity: 0; }
.tab__body .news .t-row { transform: translateX(100px); opacity: 0; }

#focus__notice:checked ~ .tab__header .notice,
#focus__news:checked ~ .tab__header .news {
    background-color: #e02451; color: #fff; 
}

#focus__notice:checked ~ .tab__body .notice .t-row,
#focus__news:checked ~ .tab__body .news .t-row {
    transform: translateX(0);
    opacity: 1;
}


.search-lg {
    width: 100%;
    box-shadow: 0 3px 5px #0005;
    background-color: #fff;
    display: flex;
    height: 50px;
}
.search-lg .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #ddd;
    color: #e02451;
}
.search-lg input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding-left: 1em;
    font-size: 1.1em;
}



.modal-slide {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.modal-slide .inner {
    left: 0;
    position: relative;
    height: 100%;
    display: flex;
    transition: 0.35s;
}
.modal-slide img {
    height: 100%;
    object-fit: cover;
}


.move {
    border: 1px solid #e02451;
    color: #e02451;
}

.move:first-child, .move:last-child,
.move.active {
    background-color: #e02451;
    color: #fff;
}

.item.active {
    position: relative;
    padding-left: 3em;
}
.item.active::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 5px;
    background-color: #e02451;
    height: 100%;
}


.calender {
    width: 100%;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    display: flex;
    flex-wrap: wrap;
}

.calender { counter-set: day; }
.calender__head,
.calender__body {
    max-width: calc(100% / 7);
    flex: 0 0 calc(100% / 7);
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.calender__head { height: 40px; line-height: 40px; font-size: 0.9em; text-align: center; background-color: #fafafa; }
.calender__body {
    height: 150px;
    position: relative;
}
.calender__body.active { transform: scale(1.05); background-color: #fff; border: 2px solid #e02451; }
.calender__body:not([disabled])::before {
    content: counter(day);
    counter-increment: day;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    font-size: 1.2em;
}

.schedule {
    position: absolute;
    width: calc(100% + 2px);
    left: -1px;
    top: 50px;
}
.schedule__item {
    padding-left: 0.5em;
    font-size: 0.9em;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    background-color: #e02451;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.schedule__item:nth-child(1) { opacity: 1; }
.schedule__item:nth-child(2) { opacity: 0.8; }
.schedule__item:nth-child(3) { opacity: 0.6; }
.schedule__item:nth-child(n+4) { display: none; }
.schedule__item:empty { opacity: 0; }